# Dependency directories
bower_components
node_modules

# Build output directories
app/css
app/js

# Miscellaneous files
*.bak
*.log
*.tmp

# Windows files
Desktop.ini
ethumbs.db
Thumbs.db
*.lnk

# OSX files
._*
.apdisk
.AppleDB
.AppleDesktop
.AppleDouble
.DocumentRevisions-V100
.DS_Store
.fseventsd
.LSOverride
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns
