:root {
	--bg: #40505D;
	--bg-dark: rgba(0, 0, 0, 0.33);
	--bg-med: rgba(0, 0, 0, 0.16);

	--fg: #C2DDF3;
	--fg-accent: #40D87D;
	--fg-accent-dimmed: #40936C;
	--fg-highlight: #FFF;

	--border-radius: 3px;

	--fast: 0.1s;
	--slow: 0.2s;
}

html {
	height: 100%;
}
body {
	background: var(--bg);
	color: var(--fg);
	font-family: 'Source Serif Pro', serif;
	font-size: 22px;
	height: 100%;
	line-height: 1.5;
}
a {
	color: var(--fg-accent);
	text-decoration: none;
}
a:hover, a:focus, a:active {
	color: var(--fg-highlight);
}
h1 {
	background: var(--bg-dark);
	box-shadow: -2rem 0 0 var(--bg-dark), 2rem 0 0 var(--bg-dark);
	color: var(--fg-accent);
	font-size: 1.5em;
	margin: 1rem -1rem;
	padding: 0.25rem 1rem 0.05rem;
}
.show-group.empty h1 {
	color: var(--fg-accent-dimmed);
}
.show-group:not(.empty) h1 {
	cursor: pointer;
}


.show {
	padding-top: 0.5rem;
	position: relative;
	transition: background-color var(--slow) ease,
				opacity var(--slow) ease;
}
.show.afk {
	opacity: 0.5;
}
.show:hover, .show.afk:hover {
	background: var(--bg-med);
	opacity: 1;
	transition: background-color var(--fast) ease,
				opacity var(--fast) ease;
}
.show img {
	display: block;
	width: 100%;
}
.show .title {
	font-size: 1em;
	margin: 0;
}
.show .status {
	background: rgba(0, 0, 0, 0.8);
	border-radius: 50%;
	box-shadow: 0 2px 5px var(--bg-dark);
	font-size: 80%;
	display: flex;
		align-items: center;
		justify-content: center;
	line-height: 1.2;
	margin: 0;
	padding: .5em;
	position: absolute;
		right: 0;
		top: 0;
	text-align: center;
	width: 2.25em;
	height: 2.25em;
}


.dl-list {
	display: flex;
	list-style: none;
	margin: 0.25rem 0 0;
	padding-left: 0;
	text-align: center;
}
.dl-list li {
	display: block;
	flex: 1 0 auto;
}
.dl-list a {
	background-position: center;
	background-repeat: no-repeat;
	background-size: 16px 16px;
	display: inline-block;
	line-height: 1;
	overflow-x: hidden;
	text-indent: 1.5em;
	white-space: nowrap;
	width: 1.5em;
	height: 1.5em;
}
.dl-list a:hover,
.dl-list a:focus,
.dl-list a:active {
	background-color: var(--bg-med);
}
.dl-imdb {
	background-image: url('../img/imdb.png');
}
.dl-rarbg {
	background-image: url('../img/rarbg.png');
}
.dl-tvmaze {
	background-image: url('../img/tvmaze.png');
}
@media (max-width: 32em) {
	.dl-list a.dl-imdb,
	.dl-list a.dl-tvmaze {
		display: none;
	}
}


form {
	margin-left: auto;
	margin-right: auto;
	max-width: 40rem;
}
form footer, form aside {
	margin: 2em 0 1em;
}
.form-group {
	margin: 0 0 1em;
}
.form-group label {
	cursor: pointer;
	display: block;
}
.form-group input {
	background: var(--bg-dark);
	border: 0;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	display: block;
	padding: 0.25em 0.5em;
	width: 100%;
}
.btn {
	background: var(--bg-med);
	border: 2px solid transparent;
	border-radius: var(--border-radius);
	box-sizing: border-box;
	color: var(--fg-accent);
	cursor: pointer;
	display: inline-block;
	padding: 0.25em 1em;
	text-align: center;
	vertical-align: middle;
}
.btn:hover, .btn:focus, .btn:active {
	border-color: var(--bg-dark);
}
.btn-primary {
	background: var(--bg-dark);
	border-width: 0;
}
.btn-block {
	display: block;
	width: 100%;
}
.btn:disabled {
	border-width: 0;
	color: inherit;
	cursor: not-allowed;
	opacity: 0.5;
}
.fab {
	background: var(--fg-accent) none no-repeat center;
	border: 0;
	border-radius: 50%;
	box-shadow: 0 2px 5px var(--bg-dark);
	color: var(--bg-dark);
	cursor: pointer;
	display: inline-block;
	height: 3em;
	line-height: 1;
	overflow: hidden;
	padding: 1em;
	text-indent: 3em;
	vertical-align: middle;
	white-space: nowrap;
	width: 3em;
}
#fab-addshow {
	background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAB8AAAAfAQMAAAAlYIR6AAAABlBMVEUAAAArNj7ZApwQAAAAAXRSTlMAQObYZgAAAAFiS0dEAIgFHUgAAAAJcEhZcwAACxMAAAsTAQCanBgAAAAHdElNRQfgCB8PDRvWDU22AAAACHRFWHRDb21tZW50APbMlr8AAAAZSURBVAjXY2AAA+YGyoj6////IBEUmwcCACb6F7oT8GfCAAAAAElFTkSuQmCC);
	position: fixed;
	right: 1em;
	bottom: 1em;
}

.visuallyhidden {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}

/*
 *	Animated loading dots
 */
.loading-dots {
    background-color: var(--bg-dark);
    border-radius: 5px;
    box-shadow: inset 0 1px 0 rgba(0,0,0,0.3),
    	0 1px 0 rgba(255,255,255,0.3);
	font-size: 1em; /* set dot size here */
    line-height: 1;
    margin: 4em auto;
    padding: 0.25em;
    text-align: center;
    width: 3.6em;
}
.loading-dots span {
    animation: loading-dots 0.8s linear infinite;
    background: transparent;
    border-radius: 50%;
    box-shadow: inset 0 0 1px rgba(0,0,0,0.3);
    display: inline-block;
    margin-left: 0.4em;
    height: 0.6em;
    width:  0.6em;
}
.loading-dots span:nth-child(1) {
	margin-left: 0;
}
.loading-dots span:nth-child(2) {
	animation-delay: 0.2s;
}
.loading-dots span:nth-child(3) {
	animation-delay: 0.4s;
}
@keyframes loading-dots {
	0% {
	  background: transparent;
	}
	50% {
	  background: #E4E4E4;
	}
	100% {
	  background: transparent;
	}
}

/*
 *	Layout
 */
#header,
#footer {
	background: var(--bg-dark);
	flex: none;
	overflow: auto;
}
#content {
	flex: 1 0 auto;
	margin: 0 auto;
	overflow: auto;
	padding: 0 2em 2em;
}

/*
 *	Overrides for flexboxgrid
 */
.center-xs > *,
.center-sm > *,
.center-md > *,
.center-lg > * {
	text-align: initial;
}
@media (min-width: 75em) {
	.show.col-lg-1 {
		-webkit-flex-basis: 12.5%;
		-ms-flex-preferred-size: 12.5%;
		flex-basis: 12.5%;
		max-width: 12.5%;
	}
}
